---
# Overwrite Tachyons here. Don't go overboard!
---

@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

.roboto {
  font-family: "Roboto";
  letter-spacing: .05em;
}

.cf {
  clear: both;
}

.cf-4th {
  &:nth-child(4n) {
    margin-right: 0;
    clear: both;
  }
}

.p-fix {
  &:nth-child(3n) {
    padding-right: 0;
    margin-right: 0;
  }
}
