<header class="ma4 ma5-ns">
  <a class="f2 link white" href="{{ site.url }}">{{ site.title }} <span class="o-50">{{ site.version }}</span></a>
  <p class="f4 mb4 db lh-copy mt1">{{ site.description }}</p>
  <div class="mb6 db">
    <a class="link ba mr3 br2 pa3 f5 mb3 dib white dim" href="https://github.com/tinychime/jekyons">Download {{ site.title }} <span class="o-50">{{ site.version }}</span></a>
    <a class="link ba mr3 br2 pa3 f5 mb3 dib white dim" href="https://github.com/tinychime/jekyons/blob/master/README.md">How To Get Started</span></a>
    <a class="link ba br2 pa3 f5 dib white dim" href="https://twitter.com/intent/tweet?text=wow%20y%27all%20check%20out%20this%20siiiiick%20prototyping%20starter%20kit%20by%20%40joshosbrn%20where%20does%20he%20find%20the%20time%3F%3F%3F%20www.tinychime.github.io%2Fjekyons&source=clicktotweet&related=clicktotweet">Tweet About It</a>
  </div>
</header>
