<header class="ma4 ma5-ns">
  <a class="f2 link white" href="{{ site.url }}">{{ site.title }} <span class="o-50">{{ site.version }}</span></a>
  <p class="f4 mb4 db lh-copy mt1">{{ site.description }}</p>
  <div class="mb6 db">
    <a class="link ba mr3 br2 pa3 f5 mb3 dib white dim" href="">Download {{ site.title }} <span class="o-50">{{ site.version }}</span></a>
    <a class="link ba mr3 br2 pa3 f5 mb3 dib white dim" href="https://github.com/joshosbrn/jekyons">How To Get Started</span></a>
    <a class="link ba br2 pa3 f5 dib white dim" href="">Tweet About It</a>
  </div>
</header>
